html {
  font-size: 8px;
}
@media (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #00252e;
  background: #ffffff;
  overflow-x: hidden;
}
@media (min-width: 1000px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  border: 0;
  padding: 0;
}

.heading {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
.heading_h1 {
  font-size: 3.6rem;
}
@media (min-width: 1000px) {
  .heading_h1 {
    font-size: 4.8rem;
  }
}
.heading_h2 {
  font-size: 3rem;
}
@media (min-width: 1000px) {
  .heading_h2 {
    font-size: 4rem;
  }
}
.heading_h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.container {
  width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .container {
    width: calc(100% - 10rem);
  }
}
@media (min-width: 1260px) {
  .container {
    max-width: 1200px;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .flex-row {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-row_reversed {
    flex-direction: row-reverse;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__img {
  display: block;
  height: 100%;
  width: auto;
}
.logo__img_inverted {
  filter: brightness(0) invert(1);
}

.button {
  background: #ff52bf;
  color: #ffffff;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid #ff52bf;
  box-sizing: border-box;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.2rem 0.8rem -1.2rem #ff52bf;
}
.button_bordered {
  background: #ffffff;
  color: #ff52bf;
}
.button_bordered:hover {
  color: #ffffff;
  background: #ff52bf;
}
.button_cta {
  font-weight: bold;
  font-size: 2rem;
  height: 6.4rem;
  border-radius: 4rem;
  min-width: 32rem;
}
@media (min-width: 1000px) {
  .button_cta {
    height: 8rem;
    min-width: 40rem;
  }
}
.button_cta:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2.4rem 1.6rem -2.4rem #ff52bf;
}
.button__text {
  color: inherit;
  text-decoration: none;
}

.header {
  padding: 3rem 0;
}
@media (min-width: 1000px) {
  .header {
    padding: 7.8rem 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1260px) {
  .header__container {
    max-width: 1310px;
  }
}
.header__logo {
  height: 2.5rem;
}
@media (min-width: 1000px) {
  .header__logo {
    height: 3.9rem;
    margin-left: 1.5rem;
  }
}

.intro {
  text-align: center;
  padding: 9rem 0 8rem;
}
@media (min-width: 1000px) {
  .intro {
    padding: 15.3rem 0 5rem;
  }
}
.intro__text {
  font-size: 2rem;
  line-height: 3rem;
  max-width: 59rem;
  margin: 3rem 0 5rem;
}
@media (min-width: 1000px) {
  .intro__text {
    margin: 2.2rem 0 4.7rem;
  }
}
.intro__img {
  max-width: 100%;
  display: block;
  margin-top: 13rem;
}
@media (min-width: 1000px) {
  .intro__img {
    margin-top: 11rem;
  }
}

.stats {
  padding: 5rem 0 5rem;
}
@media (min-width: 1000px) {
  .stats {
    padding: 6.9rem 0 13.7rem;
  }
}
@media (min-width: 1000px) {
  .stats__container {
    justify-content: space-around;
  }
}
.stats__card:not(:last-child) {
  margin-bottom: 15rem;
}
@media (min-width: 1000px) {
  .stats__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.stats-card {
  max-width: 25rem;
}
.stats-card__icon-wrapper {
  height: 4.1rem;
}
.stats-card__icon {
  margin-left: 0.4rem;
}
.stats-card__icon_messages {
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  height: 3.3rem;
}
.stats-card__value {
  font-weight: 700;
  font-size: 9.5rem;
  line-height: 1;
  margin: 1.5rem 0 3.5rem;
}
.stats-card__text {
  font-size: 2.4rem;
  color: #999999;
  text-align: center;
}

.wave {
  background: #ffffff;
}
.wave__img {
  width: 100%;
  display: block;
}
.wave_desktop {
  display: none;
}
@media (min-width: 1000px) {
  .wave_desktop {
    display: block;
  }
}
@media (min-width: 1000px) {
  .wave_mobile {
    display: none;
  }
}

.feature_bgr_pale-blue {
  background: #f6fbff;
}
.feature__container {
  box-sizing: border-box;
}
.feature__container_1 {
  padding: 10rem 0 8rem;
}
@media (min-width: 1000px) {
  .feature__container_1 {
    padding: 7rem 3.2rem 3.9rem 1rem;
  }
}
.feature__container_2 {
  padding: 18rem 0 15rem;
}
@media (min-width: 1000px) {
  .feature__container_2 {
    padding: 20.2rem 0.5rem 11rem 1.5rem;
  }
}
.feature__container_3 {
  padding: 5rem 0 12rem;
}
@media (min-width: 1000px) {
  .feature__container_3 {
    padding: 5.2rem 1.4rem 3.7rem 0;
  }
}
.feature__img {
  max-width: 80%;
}
@media (min-width: 1000px) {
  .feature__img {
    max-width: 100%;
  }
}
.feature__content {
  text-align: center;
}
@media (min-width: 1000px) {
  .feature__content {
    text-align: left;
    flex-basis: calc(50% - 2rem);
    max-width: 51.5rem;
  }
}
.feature__content:last-child {
  margin-top: 7rem;
}
@media (min-width: 1000px) {
  .feature__content:last-child {
    margin-top: 0;
  }
}
.feature__text {
  margin: 2.2rem 0 0.9rem;
}

.cta {
  text-align: center;
  padding: 6rem 0 20rem;
}
@media (min-width: 1000px) {
  .cta {
    padding: 16.2rem 0 17.8rem;
  }
}
.cta__button {
  margin-top: 3.9rem;
}

.footer {
  background: #00252e;
  color: #f6fbff;
  padding-bottom: 10rem;
  position: relative;
}
.footer__logo {
  height: 3.9rem;
}
.footer__link {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}
.footer__link:hover {
  color: #ff52bf;
}
.footer__container {
  flex-direction: column-reverse;
  padding-top: 5rem;
}
@media (min-width: 1000px) {
  .footer__container {
    flex-direction: row;
    padding-top: 12.2rem;
  }
}
@media (min-width: 1000px) {
  .footer__content {
    flex-basis: calc(50% - 2rem);
    align-self: flex-start;
    max-width: 52rem;
  }
}
.footer__content:last-child {
  margin-bottom: 10rem;
}
@media (min-width: 1000px) {
  .footer__content:last-child {
    margin-bottom: 0;
  }
}
.footer__text {
  margin: 2.5rem 0;
}
@media (min-width: 1000px) {
  .footer__text {
    font-size: 1.4rem;
    max-width: 33rem;
  }
}
.footer__text_form-description {
  margin-top: 1.6rem;
}
.footer__form {
  margin-top: 3.9rem;
}

.contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info__item {
  display: flex;
}
.contact-info__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.contact-info__item::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2rem;
}
.contact-info__item_phone::before {
  background-image: url("./images/icon-phone.svg");
}
.contact-info__item_email::before {
  background-image: url("./images/icon-email.svg");
}

.form {
  align-items: flex-end;
}
.form__input {
  font: inherit;
  height: 4.8rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  .form__input {
    width: auto;
    flex-grow: 2.5;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
.form__input:focus {
  border: 2px solid #00cbfb;
}
.form__button {
  height: 4.8rem;
  border-radius: 0.5rem;
  font-size: inherit;
  font-weight: bold;
  width: 50%;
}
@media (min-width: 1000px) {
  .form__button {
    width: auto;
    flex-grow: 0.5;
  }
}

.socials {
  display: flex;
  margin-top: 8rem;
}
.socials__link {
  display: block;
  font-size: 3.6rem;
  margin-right: 2.5rem;
}

.attribution {
  font-size: 1.2rem;
  position: absolute;
  bottom: -1rem;
  right: 2rem;
}
.attribution__link {
  text-decoration: none;
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
